* {
  margin: 0px;
  padding: 0.5px;
  box-sizing: border-box 3px;
}

/*------------CABECERA--------------*/
header {
  background-color: #9DB9C3;
  font-family: "Pacifico", cursive;
  border-radius: 5px;
  border: 0.5px solid black;
  padding-top: 20px;
  background: linear-gradient(90deg, #298391 0%, rgb(157, 185, 195) 35%, rgb(193, 217, 222) 100%);
}

.hero-completo {
  height: 380px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

h1 {
  font-family: "Stack Sans Notch", sans-serif;
  text-shadow: 2px 2px 5px rgba(14, 13, 13, 0.5);
  font-size: 2.9rem;
  text-align: center;
  color: black;
}

h2 {
  color: rgba(5, 5, 5, 0.699);
  font-family: "Pacifico", cursive;
  font-size: 1.8rem;
  text-align: center;
  font-style: italic;
  padding: 10px;
}

.navbar-brand img {
  height: 110px;
}

.nav-item,
.nav-item.dropdown,
.nav-item.contact {
  border: 0.5px solid black;
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 0.3rem;
  box-shadow: 0 0 0 1px rgba(120, 121, 122, 0.4);
}

.nav-item:hover,
.nav-item.dropdown:hover,
.nav-item.contact:hover {
  background-color: rgba(56, 87, 224, 0.39);
}

.nav-item:active,
.nav-item.dropdown:active,
.nav-item.contact:active {
  background-color: #9DB9C3;
}

.hero-completo {
  height: 320px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/*------------MAIN--------------*/
.introduccion,
.pre-evento,
.eventosede,
.post-evento {
  font-size: medium;
  border: 0.5px solid black;
  border-radius: 5px;
  box-shadow: 1 1 1 2px rgba(120, 121, 122, 0.4);
  box-sizing: border-box 2px;
  padding: 20px;
  margin: 50px;
  list-style: none;
}

main h2 {
  padding-top: 40px;
}

main h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-family: "Pacifico", cursive;
  padding-top: 5vh;
}

main h4 {
  font-size: large;
}

.box1,
.box2,
.box3,
.box4 {
  background: linear-gradient(50deg, #298391 0%, rgb(157, 185, 195) 45%, rgb(193, 217, 222) 100%);
  color: rgb(15, 15, 15);
  box-sizing: border-box;
  box-shadow: 0 0.1rem 0.5rem #686a70;
  max-height: 500px;
  max-width: 200vh;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.box1 img,
.box2 img,
.box3 img,
.box4 img {
  padding-bottom: 15px;
}

.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover {
  transform: scale(1.1);
}

.caja-flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 15px;
  padding: 10px;
  box-sizing: 2rem;
  gap: 1.2rem;
  list-style: none;
  font-size: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.contenedor-galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 5px;
  padding: 5px;
}

.contenedor-galeria img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  padding-bottom: 40px;
}

.cssbuttons-io-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9DB9C3;
  color: black;
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9rem;
  border: none;
  letter-spacing: 0.05rem;
  box-shadow: inset 0 1 1.6rem 0.5rem #979ca3;
  overflow: hidden;
  position: relative;
  height: 2.8rem;
  width: 80vh;
  margin: 20px auto;
  padding: 20px;
  text-decoration: none;
}

.cssbuttons-io-button .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  margin-left: 1rem;
  position: absolute;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 0.7rem;
  box-shadow: 0.1rem 0.1rem 0.6rem 0.2rem #6f9fcc;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6rem);
}

.cssbuttons-io-button .icon svg {
  width: 1.2rem;
  transition: transform 0.3s;
  color: #0f096b;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1rem);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.img-thumbnail {
  height: 220px;
  margin: 5px;
  padding: 2px;
  position: relative;
}

.mapa-contacto {
  text-align: center;
  padding-bottom: 20px;
  position: relative;
}

.contenedor-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #00d757;
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 30px;
}

.sign svg path {
  fill: white;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  transition-duration: 0.3s;
}

.Btn:hover {
  width: 150px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 10px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

.Btn:active {
  transform: translate(2px, 2px);
}

body,
html {
  overflow-x: hidden;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  transition: filter 0.3s ease;
  text-shadow: 2px 2px 1px #f7f7f7, -2px 2px 2px #d3d0d0, 2px -1px 2px #9b9999, 3px 3px 5px #ffffff;
}

.carousel-item {
  max-width: 540px;
  min-height: 55vh;
  margin: 0;
  border-radius: 15px;
}

.carousel-inner img {
  height: 340px;
}

.carousel-inner:hover {
  filter: contrast(80%);
}

.fieldset {
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
  transition: 0.3s ease;
  box-shadow: 0 0 0 1px rgba(120, 121, 122, 0.4);
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

input:hover,
textarea:hover {
  border: 2px;
  border-color: black;
}

/*------------FOOTER--------------*/
.logo-footer img {
  height: 150px;
  padding-left: 50px;
}

.enlacesfooter {
  margin-bottom: 12px;
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

footer {
  color: rgb(15, 15, 15);
  font-size: 15px;
  margin: 0;
  padding: 5px;
  background: linear-gradient(10deg, #298391 10%, rgb(157, 185, 195) 35%, rgb(193, 217, 222) 80%);
}

.contenedor {
  display: grid;
  grid-template-columns: 350px repeat(2, 1fr);
  margin: 0%;
  padding: 0%;
}

img.footer-icono {
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  display: inline-block;
  -o-object-fit: contain;
     object-fit: contain;
}

.text-center {
  font-size: small;
  margin: 0.2%;
}

/*------------MEDIAQUERIES--------------*/
@media (max-width: 1024px) {
  header h1 {
    font-size: 35px;
    margin: 0%;
  }
  header h2 {
    font-size: 20px;
  }
  .navbar-brand img {
    height: 70px;
  }
  main h2 {
    font-size: 17px;
  }
  .hero-completo {
    height: 200px;
  }
  .introduccion {
    font-size: 1rem;
    padding: 2%;
    margin: 8%;
    text-align: center;
  }
  .pre-evento,
  .eventosede,
  .post-evento {
    font-size: 1rem;
    padding: 5%;
    margin: 8%;
    padding-left: 8px;
  }
  .caja-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 0;
    margin: 10px;
  }
  .box1,
  .box2,
  .box3,
  .box4 {
    min-width: 45%;
    height: auto;
    margin: 14px;
    text-align: center;
    list-style: none;
  }
  .cssbuttons-io-button {
    max-width: 47vh;
    font-size: 13px;
    text-align: start;
    padding-right: 10%;
  }
  .carousel-inner {
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  .carousel-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .contenedor-whatsapp {
    position: fixed;
    pointer-events: auto;
    z-index: 9999;
  }
  footer h3 {
    padding-left: 20px;
  }
  .enlacesfooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 10px auto;
    padding: 0;
    list-style: none;
  }
  .logo-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .logo-footer img {
    max-width: 130px;
    height: auto;
    display: block;
    margin-right: 35px;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 15px;
  }
  .text-center {
    font-size: 5px;
    margin: 0.3%;
  }
}/*# sourceMappingURL=main.css.map */