selector

h1{ 
    color:red;
}

p{
    color:brown
}

.text-verde{
  color:darkgreen
}

.content-box{
    color: red;
    background-color: orange;
    text-align: center;
    /* ALTOS Y ANCHOS */

    width: 100px; /* ancho de una caja */
    /* BORDES */
    border: 4px inset rgb(131, 40, 40);
    /* PADDING  ESPACIO INTERNO */
    padding: 50px;
    /* MARGIN  ESPACIO EXTERNO */
    margin: 30px;
}

<!-----------------EMMET----------------->
<div class="container">
    <div class="box" id="box1">
        <p>CAJA 1</p>
    </div>
    <div class="box" id="box2">
        <p>CAJA 2</p>
    </div>
    <div class="box" id="box3">
        <p>CAJA 3</p>
    </div>
    <div class="box" id="box4">
        <p>CAJA 4</p>
    </div>
    <div class="box" id="box5">
        <p>CAJA 5</p>
    </div>
    <div class="box" id="box6">
        <p>CAJA 6</p>
    </div>
</div>

<!-----------------POSITIONS----------------->
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: red;
    height: 150px;
    width: 150px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
/* POSITIONS */
#box1{
    background-color: green;
    position: absolute;
    right: 40px;
}
#box2{
    background-color: rgb(232, 186, 186);
    position: relative;
}
#box2 h4{
    color: rgb(254, 254, 255);
    background-color: red;
    position: absolute;
    right: 0px;
    padding: 4px;
}

#box3{
    background-color: rgb(21, 223, 65);
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
#box4{
    background-color: blueviolet;
    position: sticky;
    top: 0px;
    height: 40px;
    width: 100vw;
    margin: 0px;
    text-align: center;