* {
  margin: 0px;
  padding: 0.5px;
  box-sizing: border-box 3px;
}

/*------------CABECERA--------------*/
header {
  background-color: #9DB9C3;
  border-radius: 5px;
  border: 0.5px solid black;
  padding-top: 20px;
  background: linear-gradient(90deg, #298391 0%, rgb(157, 185, 195) 35%, rgb(193, 217, 222) 100%);
}

h1 {
  text-shadow: 2px 2px 5px rgba(49, 49, 49, 0.5);
}

body h1 {
  font-size: 2.5rem;
  text-align: center;
  color: black;
}

body h2 {
  color: rgba(5, 5, 5, 0.699);
  font-size: 1.8rem;
  text-align: center;
  font-style: italic;
  padding: 10px;
}

.navbar-brand img {
  height: 110px;
}

.nav-item,
.nav-item dropdown,
.nav-item contact {
  border: 0.5px solid black;
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 0.3rem;
  box-shadow: 0 0 0 1px rgba(120, 121, 122, 0.4);
}
.nav-item.nav-item:hover,
.nav-item .nav-item dropdown:hover,
.nav-item .nav-item contact:hover,
.nav-item dropdown.nav-item:hover,
.nav-item dropdown .nav-item dropdown:hover,
.nav-item dropdown .nav-item contact:hover,
.nav-item contact.nav-item:hover,
.nav-item contact .nav-item dropdown:hover,
.nav-item contact .nav-item contact:hover {
  background-color: rgba(56, 87, 224, 0.39);
}
.nav-item.nav-item:active,
.nav-item .nav-item dropdown:active,
.nav-item .nav-item contact:active,
.nav-item dropdown.nav-item:active,
.nav-item dropdown .nav-item dropdown:active,
.nav-item dropdown .nav-item contact:active,
.nav-item contact.nav-item:active,
.nav-item contact .nav-item dropdown:active,
.nav-item contact .nav-item contact:active {
  background-color: #9DB9C3;
}

/*------------MAIN--------------*/
.introduccion,
.pre-evento,
.eventosede,
.post-evento {
  font-size: medium;
  border: 0.5px solid black;
  border-radius: 5px;
  box-shadow: 1 1 1 2px rgba(120, 121, 122, 0.4);
  box-sizing: border-box 2px;
  padding: 15px;
  margin: 50px;
  list-style: none;
}

main h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  padding-top: 5vh;
}

main h4 {
  font-size: large;
}

.box1,
.box2,
.box3,
.box4 {
  background-color: #9DB9C3;
  color: rgb(15, 15, 15);
  box-sizing: border-box;
  box-shadow: 0 0.1rem 0.5rem #686a70;
  max-height: 500px;
  max-width: 200vh;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.box1 img,
.box2 img,
.box3 img,
.box4 img {
  padding-bottom: 15px;
}

.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover {
  transform: scale(1.1);
}

.caja-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 15px;
  padding: 10px;
  box-sizing: 2rem;
  gap: 1.2rem;
  list-style: none;
}

.cssbuttons-io-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9DB9C3;
  color: black;
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9rem;
  border: none;
  letter-spacing: 0.05rem;
  box-shadow: inset 0 0 1.6rem -0.5rem #9196a1;
  overflow: hidden;
  position: relative;
  height: 2.8rem;
  width: 80vh;
  margin: 20px auto;
  padding: 20px;
  text-decoration: none;
}

.cssbuttons-io-button .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  margin-left: 1rem;
  position: absolute;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 0.7rem;
  box-shadow: 0.1rem 0.1rem 0.6rem 0.2rem #6f9fcc;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6rem);
}

.cssbuttons-io-button .icon svg {
  width: 1.2rem;
  transition: transform 0.3s;
  color: #2214e6;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1rem);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.mapa {
  padding-left: 80px;
  padding-bottom: 20px;
}

.carousel-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  padding-bottom: 20px;
}

.carousel-inner {
  width: 50%;
  max-width: 500px;
  margin: 0;
  border-radius: 15px;
}

.carousel-inner img {
  width: 100%;
  height: 300px;
}

.fieldset {
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
  transition: 0.3s ease;
  box-shadow: 0 0 0 1px rgba(120, 121, 122, 0.4);
}

input:hover,
textarea:hover {
  border: 2px;
  border-color: black;
}

/*------------FOOTER--------------*/
.logo-footer img {
  height: 140px;
  padding-left: 50px;
}

.enlacesfooter {
  margin-bottom: 12px;
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

footer {
  color: rgb(15, 15, 15);
  font-size: 15px;
  margin: 0;
  padding: 5px;
  background-color: #9DB9C3;
}

.contenedor {
  display: grid;
  grid-template-columns: 350px repeat(2, 1fr);
  margin: 0%;
  padding: 0%;
}

.text-center {
  font-size: small;
  margin: 0.2%;
}

/*------------MEDIAQUERIES--------------*/
@media (min-width: 500px) {
  header {
    grid-template-columns: 2 1;
    padding-top: 5px;
  }
}/*# sourceMappingURL=main.css.map */