@use "../utilities/variables" as *;


/*------------FOOTER--------------*/

.logo-footer img {
    height: 140px;
    padding-left: 50px;
}

.enlacesfooter {
    margin-bottom: 12px;
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

footer {
    color: $color-font2;
    font-size: 15px;
    margin: 0;
    padding: 5px;
    background: linear-gradient(10deg, #298391 10%, rgba(157, 185, 195, 1) 35%, rgba(193, 217, 222, 1) 80%);
}

.contenedor {
    display: grid;
    grid-template-columns: 350px repeat(2, 1fr);
    margin: 0%;
    padding: 0%;
}


.text-center {
    font-size: small;
    margin: 0.2%;
}
