@use "../utilities/mixins" as *;


/*------------MEDIAQUERIES--------------*/

@media (max-width: 1024px) {

    header h1 {
        font-size: 35px;
        margin: 0%;
    }

    header h2 {
        font-size: 20px;
    }

    .navbar-brand img {
        height: 70px;
    }


    main h2 {
        font-size: 17px;
    }

    .hero-completo {
        height: 200px;
    }

    .introduccion {
        font-size: 1rem;
        padding: 2%;
        margin: 8%;
        text-align: center;
    }


    .pre-evento,
    .eventosede,
    .post-evento {
        font-size: 1rem;
        padding: 5%;
        margin: 8%;
        padding-left: 8px;
    }

    .caja-flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        padding: 0;
        margin: 10px;
    }

    .box1,
    .box2,
    .box3,
    .box4 {
        min-width: 45%;
        height: auto;
        margin: 14px;
        text-align: center;
        list-style: none;
    }


    .cssbuttons-io-button {
        max-width: 47vh;
        font-size: 13px;
        text-align: start;
        padding-right: 10%;
    }

    .carousel-inner {
        width: 100%;
        height: 500px;
        overflow: hidden;
    }

      .carousel-item img {
        width: 100%;
        height: 100%; 
        object-fit: cover;    
        object-position: center; 
    }

    .contenedor-whatsapp {
        position: fixed;
        pointer-events: auto;
        z-index: 9999;
    }

footer h3 {
    padding-left: 20px;
}

.enlacesfooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin: 0 auto 10px auto;
    padding: 0;
    list-style: none;
}

.logo-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;

    & img {
        max-width: 130px;
        height: auto;
        display: block;
        margin-right: 35px;
    }
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 15px;
}

.text-center {
    font-size: 5px;
    margin: 0.3%;
}

}