//variables

//colores
$bg-general: #9DB9C3;
$bg-nav: rgba(56, 87, 224, 0.39);
$border-black: black;
$color-box: rgba(120, 121, 122, 0.4);
$color-font: black;
$color-font1: rgba(5, 5, 5, 0.699);
$color-font2:  rgb(15, 15, 15);

 