@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;

.carousel-inner {
    @include flex-base;
    padding-bottom: 20px;
    transition: filter 0.3s ease;
    text-shadow: 2px  2px 1px #f7f7f7,
       -2px  2px 2px #d3d0d0,
        2px -1px 2px #9b9999,
        3px 3px 5px #ffffff;     
}

.carousel-item {
    max-width: 540px;
    min-height: 55vh;
    margin: 0;
    border-radius: 15px;
}

.carousel-inner img {
    height: 340px;
}

.carousel-inner:hover {
    filter: contrast(80%);
}